body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-image:linear-gradient(rgb(149, 203, 225),rgb(240, 152, 167),white) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh;
}

.nav-container{
  height: 8vh;
  background-color: rgb(67, 67, 219);
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap: 30vw;
}
table,td,th{
 width: 90vw;
 height: 7vh;
  border-bottom: 2px solid rgb(201, 197, 197);
  border-collapse: collapse;
background-color: aliceblue;
border-radius: 10px;
text-align: center;
}
.table-container{
 display: flex;
 justify-content: center;
 position:relative;
 top: 5vw;
}
